body {
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    font-size: 16px;
    color: var(--black);
}

h1 {
    display: none;
}

h2, h4 {
    font-size: 32px;
    color: white;
    letter-spacing: 4px;
}

h3, h5 {
    font-size: 24px;
    letter-spacing: 1px;
}

h4 {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

#callButton button {
    font-size: 24px;
}

p {
    letter-spacing: 1px;
    line-height: 22px;
}

.container h4 {
    color: var(--black);
}

#contactElements a {
    text-decoration: none;
    color: var(--black);
}

nav ul a {
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.copy {
    color: var(--white);
}

footer a {
    text-decoration: none;
    color: var(--yellow);
}