@media (max-width: 1100px) {
    .galleryContainer {
        width: 90%;
    }

    .galleryContainer img {
        width: 30%;
    }
}

@media (max-width: 1000px) {
    .galleryContainer {
        margin-top: 10%;
    }
}

@media (max-width: 800px) {
    .galleryContainer {
        margin-top: 0;
    }
}

@media (max-width: 500px) {
    .galleryContainer img {
        padding: 5px;
    }
}

@media (max-width: 500px) {
    .galleryContainer img {
        width: 40%;
    }
}