html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
}

/* Breaks */

.break05 {
    height: 50px;
}

.break1 {
    height: 100px;
}

.break2 {
    height: 200px;
}

/* Header */
.front {
    position: relative;
    padding-top: 10%;
}

#logo {
    text-align: center;
}

    #logo img {
        width: 50%;
    }

#subtitle {
    text-align: center;
}

    #subtitle section {
        ;
    }

    #subtitle section h2 {
        width: 50%;
        margin: auto;
    }

#callButton {
    text-align: center;
}

    #callButton button {
        margin-top: 50px;
        width: 40%;
        height: 6vh;
    }

/* Navigation bar */
nav {
    text-align: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 10vh;
    padding: 0;
}

    nav ul li {
        width: 100%;
    }

/* Main */

#services {
    display: block;
    width: 95%;
    height: 100%;
    overflow: hidden;
}

.band {
    background: url("../images/band2.png") no-repeat right;
    height: 201px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
}

.band h3 {
    margin: 0;
    padding: 50px 30px;
}

.band:nth-child(1) br{
    display: none;
}

.band:nth-child(1) {
    width: 75%;
}

.band:nth-child(2) {
    width: 70%;
}

.band:nth-child(3) {
    width: 65%;
}

.band:nth-child(4) {
    width: 60%;
}

.band:nth-child(5) {
    width: 55%;
}

.band img {
    width: 335px;
}

/* About Us */
#info section {
    text-align: right;
}

#info h4 {
    margin-right: 200px;
}

#infoContainer {
    width: 100%;
    display: flex;
}

.box {
    width: 100%;
}

.box:nth-child(2) {
    border-radius: 25% 0 0 25%;
    text-align: justify;
    padding: 5%;
}

.box img {
    width: 100%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

/* Find Us */
#location, #contact {
    width: 1000px;
    margin: auto;
    text-align: center;
}

#contactElements {
    display: flex;
}

    #contactElements img {
        width: 50%;
    }

/* Google Maps */
.mapouter {
    position: relative;
    text-align: center;
    height: 500px;
    width: 1000px;
    margin: auto;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 500px;
    width: 1000px;
    margin: auto;
}

.gmap_canvas iframe {
    width: 1000px;
    height: 500px;
}

/* Footer */
footer {
    padding: 2%;
    text-align: center;
}

/* Gallery */
.galleryContainer {
    width: 1000px;
    margin: auto;
    text-align: center;
    padding: 20px 10px;
}

.galleryContainer img {
    padding: 10px;
}